html, body {
  margin: 0;
  padding: 0;
}

.sidebar {
  display: flex;
}

.element {
  display: flex;
  flex-direction: column;
  position: fixed;
  top:20%;
  right: 10%;
}

canvas {
  display: block;
}
